.ocean {
    background-image: url('../images/ocean-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }



  /*-----HW 19 css below...-----*/

  *
{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
} 

.container {
	padding: 20px 0px;
	margin: 0 auto;
	max-width: 100%;
  text-align: center;
}

/*--------- typography section - start --------------*/

.typewrite {
color: white;
text-decoration: none;
}

 h1 {
  display: block;
  font-size: 3em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: white;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 10px;
  text-align: center;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  color: white;
  font-weight: 400;
}

h3{
  font-family: 'Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 2em;
  line-height: 46px;
  /* identical to box height */
  color: #2D2D2D;
  text-align: center;
}

h4{
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  color: #0081AF;
  text-align: left;
}

h5 {
  font-weight: 700;
  font-size: 1em;
}

h5 a{
  text-transform: lowercase;
	text-decoration: none;
  color: Silver;
}

h6 {
  padding-top: 40px;
  color: #0081AF;
  font-weight: bold;
}

h5 a:hover{
  color: #2DC7FF;
}

p {
	font-size: 16px;
  text-align: left;
  padding-top: 20px;
}


/*--------- typography section - end --------------*/

/*--------- header section - start --------------*/
 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 80px;
    background-color: #2D2D2D;
  }

  .nav-primary ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .nav-primary ul li {
    margin: 0 20px;
  }

  .nav-primary ul li a {
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
  color: white;
  transition: color 300ms ease;

}

.nav-primary ul li a:hover {
	
  color: #2DC7FF;

}

/*--------- header section - end --------------*/

/*--------- hero section - start --------------*/

 .hero {
    height: 700px;
    padding: 25px;
    background-image: url('../images/hero-image.png');
    /*placeholder image until I get one of me at desk*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover 
 }

 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  gap: 20px;
 }


.btn {
  display: flex;
  border: 2px solid #2DC7FF;
  background-color: none;
  color: white;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 50px;
  transition: background-color 300ms ease;
  justify-content:center;
}

.btn:hover {
  background: #F7F7F5;
  opacity: 0.8;
  color: #2D2D2D;
}

  .page-down {
    padding-top: 50px;
  }

/*--------- hero section - end --------------*/

/*--------- about section - start --------------*/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20vw;
  }
  
  [data-emergence] {
    transition: all 2s ease;
  }
  [data-emergence=hidden] {
    opacity: .1;
  }
  [data-emergence=visible] {
    opacity: 1;
  }

/*--------- about section - end --------------*/

/*--------- my skills section - start --------------*/

.skills {
display: flex;
flex-direction: column;
align-items: center;
padding: 80px 95px;
gap: 63px;
background: #F7F7F5;

}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
 
}

.skill-card {
width: 25%;
display: flex;
flex-direction: column;
align-items: center;
padding: 40px 20px;
gap: 20px;
border: 1px solid rgba(170, 163, 163, 1);
background-color: white;
}

.skill-card p{
text-align: center;
}

.btn-primary {
  border: 2px solid #BEBBB6;
  background-color: #FFFFFF;
  color: #2D2D2D;
}

.btn-primary:hover {
  background: #ECECEC;
  color: #2D2D2D;
  font-weight: 600;
}

/*--------- my skills section - end --------------*/

/*--------- test work section - start --------------*/


.work-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 95px;
  gap: 63px;
  background: white;
  
  }
  
  .work-test-flex-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    justify-content: center;
    min-width: 700px;
   
  }
  
  .work-test-skill-card {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  background-color: #F7F7F5;
  }
  
  .work-test-skill-card p, .work-test-skill-card h4{
  text-align: center;
  padding-top: 0%;
  }
  


/*--------- my work section - start --------------*/

.work{
display: flex;
flex-direction: column;
align-items: center;
padding: 80px 0px;
gap: 63px;

}

.grid-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(170, 163, 163, 1);
  text-align: center;
  grid-area: 'myArea';
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.work-slider{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: 'myArea myArea';
}

.grid-item {
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.grid-item img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: all 0.5s ease;
}

.grid-item:hover img {
  opacity: 0.1;
}

.grid-item:hover .grid-item-overlay {
  opacity: 1;
}

.grid-item .grid-item-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  max-width: 500px;
  color: #2D2D2D;
  opacity: 0;
  transition: all 0.5s ease;
}

.grid-item .grid-item-overlay h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.grid-item .grid-item-overlay p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
}

.grid-item .grid-item-overlay h4,
.grid-item .grid-item-overlay p {
  text-align: center;
}


/*--------- my work section - end --------------*/



/*--------- testimonials section - start --------------*/

.testimonials{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 95px;
  gap: 63px;
  background: #F7F7F5;
  }

/*--------- slider ----------------------*/

  /* Slideshow container */
.slideshow-container {
  position: relative;
  background: white;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;

  
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
  
}

  .author {
  display: flex;
  gap: 23px;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  }

  .author p{
    padding-top: 0;
  }



  
  
/*--------- testimonials section - end --------------*/

/*--------- contact section - start --------------*/

.contact{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0px;
  gap: 63px;
  background-image: url('../images/contact-background.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover 
  
  }

  .contact .container {
   
    padding: 10px 0px 80px 0px
     
    }

  .contact .flex-container {
   
  align-items: flex-end;
  gap: 100px;
  padding-top: 80px;
   
  }

  .email-wrap{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 35px;
    }
  
  
  /*--------- contact section - end --------------*/

/*--------- footer section --------------*/

 footer {
    
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 80px;
  color: white;
  background-color: #2D2D2D;

 }
  
  .social {
    align-items: center;
    display: flex;
    padding: 20px;
    gap: 15px;
    font-weight: 200;
    white-space: nowrap;
  }

  /*--------- footer section - end --------------*/

  /*--------- media queries ----------------------*/

 @media only screen and (max-width: 600px){
  .work-slider{
    display: grid;
    grid-template-columns: 1fr;
    width: 70%;
    grid-template-areas: 
    'myArea' 
    'myArea';
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
   
  }

  .skill-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    gap: 20px;
    border: 1px solid rgba(170, 163, 163, 1);
    background-color: white;
    }

  .skills {
    padding: 80px 75px;
    gap: 63px;
    background: #F7F7F5;
    
    }

  footer {
      justify-content: center;
    }

  footer .nav-primary ul {
    flex-direction: column;
  }

  footer .nav-primary ul li{
    padding-bottom: 20px;
  }
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 80px;
  }

  h1 {
    font-size: 2.5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  .work-test-flex-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 10px;
    justify-content: center;
    min-width: 350px;
   
  }
  
  .work-test-skill-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  background-color: #F7F7F5;
  }
  
 }

 @media (hover: hover) and (pointer: coarse) {
  .grid-item:focus .grid-item-overlay {
    opacity: 1;
  }
  
}

/*--- bootstrap overrides*/

.active, .dot:hover {
  background-color: #2b3035 !important;
}

.nav {
  --bs-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #BEBBB6;
  --bs-nav-link-hover-color: #2D2D2D;
  --bs-nav-link-disabled-color: var(--bs-secondary-color);
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: var(--bs-navbar-color) !important;
  --bs-nav-link-hover-color: #2DC7FF !important;
  --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin-bottom: 0px;
  list-style: none;
}




  